
body{
    background-color: rgba(255, 255, 255, 0.575);
    color:rgb(49, 48, 48)
    
}

header{
    
    text-align: center;
    font-weight: bold;
    font-style:oblique;
    line-height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.418)

}

h1{ 
    text-align: center;
    font-style: oblique;
    line-height: 40px;
}

.texto-padronizado{
    font-size:medium;
    font-style: oblique;
    text-align: left;
    line-height: 40px;
}
img{
    border-radius: 10px;
   
 
}

section{
    text-decoration:underline;
    text-align:center;
  /*  background-color: rgba(128, 128, 128, 0.418);*/
    border-radius: 10px;
    padding: 30px 50px 50px 10px;
    width: 330px;
    float: left;
    clear: right;
   /* box-shadow: 5px 5px 10px rgb(0, 0, 0.418);*/
    
}

footer{
    font-weight: bold;
    font-style:oblique;
    line-height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.418)
}

#minha-foto{
    background-color: rgb(56, 80, 56);
    float: left;
    height: 230px;
    padding: 10px
    
}

.imagine-container{
    height: 250px;
}
ul li:nth-child(odd){
    color:black;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}


